body {
  text-decoration: none;
  box-sizing: border-box;
}

li.nav-item {
  font-weight: bold;
  font-size: 15px;
}

section.home.py-5 {
  background: #eee;
}

i.fab.fa-github {
  color: #171515;
}
i.fab.fa-instagram {
  color: #ff6782;
}
i.fab.fa-linkedin {
  color: #0077b5;
}
i.fab.fa-facebook {
  color: #4267b2;
}
i.fab.fa-twitter {
  color: #26a7de;
}
.main-img {
  height: 310px;
}

a.nav-link {
  margin-right: 20px;
}
.min-vh-90 {
  min-height: 90vh !important;
}

section.home.pt-5 {
  background: #eee;
}
.service-item {
  min-height: 198px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.linkdin-style {
  width: 44px;
  transition: 0.3s ease-in-out;
}
.linkdin-style:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.btn-scale {
  transition: 0.3s ease-in-out;
}
.btn-scale:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 991px) {
  img.main-img {
    height: auto !important;
  }
}

@media screen and (max-width: 767px) {
  img.main-img {
    height: 290px !important;
  }
}

@media screen and (max-width: 400px) {
  img.main-img {
    height: auto !important;
  }
}
